@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --toast-background: #0e7490;
}

html {
    color-scheme: light dark;
    scroll-behavior: auto;
}
body {
    font-family: "quicksand", sans-serif;
}
@media (min-width: 768px) { /* Adjust breakpoint as needed */
    html {
      scroll-behavior: smooth;
    }
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}